/* Common */
* {
  border: 0;
  padding: 0;
  /* border: 1px dashed red; */
}


body{
	font-family: "Plus Jakarta Sans";
	font-size:14px;
	color:rgb(38, 38, 38);
    max-width:1920px;
    margin:0 auto;
}
.title-section{
  text-align: center;
}
.title-section>.sub-title{
  padding-top: 30px;
  font-weight: 500;
  display: inline-block;
  border-bottom: 1px solid;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.title-section>.title{
  font-size: 45px;
  font-weight: 700px;
  margin-top:3px;
  margin-bottom: 60px;
}

/* Header */
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
  margin-left: 15px ;
}
.logo>span{
  font-family: Impact;
  color: red;
}

.nav {
  display: flex;
  list-style-type: none;
}
.nav-content{
  position: relative;
  padding: 10px;
}
.nav-content a {
  color:rgb(38, 38, 38);
  font-weight: 700;
  position: relative;
  text-decoration: none; 
  padding-bottom: 5px;
}
.nav .nav-content a:after{
  background-color: black;
  content: '';
  left: 0;
  height: 2px;
  width:0;
  position: absolute;
  bottom: 0;
  transition: width 0.5s;
}
.nav .nav-content a:hover:after{
  width:100%;
 }

.nav-content img{
  padding: 5px; /* changed */
}
.user-content{
  display: flex;
  align-items:center;
  list-style-type: none;
  margin-right: 15px;
}

/* slider */
.slider{
  background-image: url("images/slider/background-img-4.jpg");
  background-size: cover;
  background-position: 55% center;
  display:flex;
  margin:0px 10px ;
  border-radius: 10px;
  position: relative;
}
.slider-image{
  display: flex;
  padding: 150px 40px;
  position: relative;
}
.slider-image img{
  max-width: 50%;
  height: auto;
}

.slider .sub-title{
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 5px 50px;
  margin: 0;
} 
.slider .sub-title::before{
  background-color: white;
  content:'';
  left: 0;
  height: 1px;
  width:40px;
  position:absolute;
  bottom: 16px;
}
.slider .title{
  font-size: 100px;
  font-weight: 700px;
  color: white;
  margin: 0;
  padding:20px 0px;
  line-height: 100px;
}
.slider-content{
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  animation-name: drop;
  animation-duration: 2s;
  animation-fill-mode:forwards;
  animation-timing-function:ease;
  align-items: flex-start;
}
@keyframes drop {
  from {
      opacity: 0;
      transform: translateY(-10px) scale(1) rotateX(50deg);
      perspective: 1200px
  }

  to {
      opacity: 1;
      transform: translateY(10px) scale(1) rotateX(0);
      perspective: 1200px
  }
}

.slider-content> .btn{
  padding: 20px;
  font-weight: 700;
  border:2px solid rgb(38, 38, 38);
  background-color: rgb(38, 38, 38);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.6s;
}
.slider-content> .btn:hover{
  background-color: transparent;
  color:white;
  border: 2px solid white;
}
.fas{
  font-size: 15px;
}




/* Accessory Starts Here */
.categories{
  padding:30px 0px;
}

.All-accessories,.All-brands{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.accessory,.brand{
  display: flex;
  border: 0;
  margin: 10px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
@media screen and (max-width: 1025px) {
  .accessory,.brand {
    width: 30%;
  }
  .accessory>.accessory-content{
    flex-shrink: 2;
    right: 102px;
    left: 24px;
    bottom: 30px;
  }
  .title{
    letter-spacing: -3px;
    font-size: 40px !important;
  }
  .accessory>img {
    width: 300px;
    height: 300px;
  }
  .brand img {
    width: 300px !important;
    height: 300px !important;
  }
}
@media screen and (max-width: 600px) {
  .accessory,.brand {
    width: 100%;
  }
  .accessory{
    width: 300px;
    height: 300px;
  }
  .accessory>img {
    width: 300px;
    height: 300px;
  }
  .brand img {
    width: 300px !important;
    height: 300px !important;
  }
  .accessory>.accessory-content{
    left: 14px !important;
    right: 14px !important;
  }
  .slider-image img{
    display: none;
  }
  .slider-content{
    padding: 0px 6px 0px 143px;
    line-height: 0.9;
  }
  .slider .title{
    line-height: 0.9;
    padding: 10px 10px 5px 20px;
    letter-spacing: -1px;
  }
  .nav{
    display: none;
  }
  .title-section>.sub-title {
    padding-top: 1px !important;
  }
  .title-section>.title {
    margin-bottom: 1px !important;
  }
  .slider-image{
    padding: 151px 21px;
  }
  .footer-logo-design{
    font-size: 15px !important;
    padding: 5px !important;
  }
  .slider .sub-title{
    padding: 0px 0px 0px 43px;
  }
  .slider-content> .btn {
    padding: 7px 5px;
    margin-left: 20px;
  }
  .footer-links a{
    display: none;
  }
  .copyright{
    font-size: 10px;
    margin-right: 60px;
    padding-left: 1px !important;
  }
}
.accessory:hover{
  .accessory-content{
  animation-name:example;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  }
}
@keyframes example {
  from {background-color: black; color: white;}
  to {background-color: white; color:black;}
}

.accessory>img{
  border-radius: 7px;
  transition: transform 0.5s;
}
.accessory>img:hover{
  transform: scale(1.1);
}

.accessory>.accessory-content{
  position: absolute;
  justify-content: space-between;
  display: flex;
  padding: 1px 10px 1px 10px;
  line-height: 0.9;
  background-color: white;
  bottom:15px;
  left:15px;
  right:15px;
  border-radius: 10px;
  align-items: center;
}
.accessory-content>h2{
  padding: 5px;
  font-size: 15px;
}



/* Brand Starts here */
.car-categories{
  padding:30px 0px;
}
.bike-categories{
  padding:30px 0px;
}
.All-brands{
  display:flex;
  justify-content: space-around;
}
.brand{
  margin-bottom: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  overflow: hidden;
  border-radius: 4px;
}
.brand img{
  width: 237px;
  height: 264px;
  border-radius: 7px;
  transition: transform 0.5s;
}
.brand>img:hover{
  transform: scale(1.1);
}


/* Footer Section starts here */
.footer{
  display:flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-design{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding :10px;
  color: white;
  font-size: 30px;
}
.footer-logo-design>span{
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.copyright{
  color: white;
  padding-left:40px;
}
.footer-links{
  color: white;
  display:flex;
  align-items: center;
}
.footer-links-1{
  padding: 3px;
}
.footer-links-2{
  padding: 0px 25px;
}





